chessboard-size = 500px
cell-size = (chessboard-size / 8)

div.chessboard
  display: flex
  flex-direction: row
  flex-wrap: wrap
  width: chessboard-size
  height: chessboard-size

#selected
  background-color: #2e7af4

#move
  background-color: green

#eat
  background-color: red




for piece in 'WKing' 'BKing' 'WQueen' 'BQueen' 'WRook' 'BRook' 'WBishop' 'BBishop' 'WKnight' 'BKnight' 'WPawn' 'BPawn'
  .{piece}
    display: block
    margin: 0 auto
    width: cell-size
    height: cell-size
    background-repeat: no-repeat
    background-position: center
    background-image: url('./assets/' + piece + '.svg')

div.chessboard div:nth-child(-2n+8),
div.chessboard div:nth-child(8) ~ div:nth-child(-2n+15),
div.chessboard div:nth-child(16) ~ div:nth-child(-2n+24),
div.chessboard div:nth-child(24) ~ div:nth-child(-2n+31),
div.chessboard div:nth-child(32) ~ div:nth-child(-2n+40),
div.chessboard div:nth-child(40) ~ div:nth-child(-2n+47),
div.chessboard div:nth-child(48) ~ div:nth-child(-2n+56),
div.chessboard div:nth-child(56) ~ div:nth-child(-2n+63)
  background-color: grey

div.chessboard-cell
  width: cell-size
  height: cell-size
  display: flex;
  align-items: center;
  background-color: white
